version: "2.4"

services:

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: pihole
    networks:
      pihole:
        ipv4_address: 172.20.0.2
    dns:
      - 127.0.0.1
      - 1.1.1.1
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 67:67/udp
      - 80:80/tcp
      - 443:443/tcp
    environment:
      - "TZ=Europe/Copenhagen"
      - "PROXY_LOCATION=pihole"
      - "VIRTUAL_PORT=80"
      - "PIHOLE_DNS_=172.20.0.3#5053"
      - "DNSSEC=true"
      - "WEBPASSWORD=bl0ckCrap"
    volumes:
      - "data_etc_pihole:/etc/pihole/"
      - "data_etc_dnsmasqd:/etc/dnsmasq.d/"
    restart: always

  cloudflared:
    image: crazymax/cloudflared:latest
    container_name: cloudflared
    hostname: cloudflared
    networks:
      pihole:
        ipv4_address: 172.20.0.3
    ports:
      - 5053:5053/tcp
      - 5053:5053/udp
      - 49312:49312/tcp
    environment:
      - "TZ=Europe/Copenhagen"
      - "TUNNEL_DNS_UPSTREAM=https://1.1.1.1/dns-query,https://1.0.0.1/dns-query"
    restart: always

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    hostname: watchtower
    networks:
      pihole:
        ipv4_address: 172.20.0.4
    environment:
      - "TZ=Europe/Copenhagen"
      - "WATCHTOWER_POLL_INTERVAL=14400"
      - "WATCHTOWER_CLEANUP=true"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: unless-stopped

volumes:
  data_etc_pihole:
  data_etc_dnsmasqd:

networks:
  pihole:
    ipam:
      config:
        - subnet: 172.20.0.0/24
